body { 
    z-index: 0;
    background-image:
    url(".../img/hogwarts.jpg")
    
    background-size: cover;

    background-position-x:
    0%,
    100%;
    

    background-position-y:
    0%,
    100%;


    background-repeat: no-repeat;
    background-color: black;
}

@font-face {
    font-family: 'hogwarts';
    local: 'HARRP__';
    src:
        url('../font/HARRP.ttf')
        format('truetype');
}
/* Container Element */
div {
    font-family: 'hogwarts';
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 0;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px rgb(0, 0, 0);
    margin: 20px;
}

.mt-0 {
    margin-top: 20px !important;
  }
  
  .ml-1 {
    margin-left: ($spacer * .25) !important;
  }
  
  .px-2 {
    padding-left: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;
  }
  
  .p-3 {
    padding: $spacer !important;
  }

  #nameForm {
    background-color: rgba(34, 33, 33, 0.4);
    border: 5px solid white;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;
 }

 .studentCard {
    background: rgb(61, 61, 61);
    color: white;
    border: 5px solid white;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 75px / 75px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#sortButton {
    margin-left: 130px;
}

.expelButton{
    margin-left: 78px;
}
