/* CSS for Sorting Hat Project */
@font-face {
    font-family: 'hogwarts';
    local: 'HARRP__';
    src:
        url('../font/HARRP.ttf')
        format('truetype');
}

/* Elements */
body {
    background-color: black;
}

div {
    font-family: 'hogwarts';
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 0;
    margin: 20px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px rgb(0, 0, 0);
}

label {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

/* IDs */
#nameForm {
    background-color: black;
    border: 5px solid white;
    color: white;
    font-size: 30px;
}

#sortButton {
    margin-left: 130px;
}

/* Classes */
.mt-0 {
    margin-top: 20px;
}

.studentCard {
    background: black;
    color: white;
    border: 5px solid white;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 75px / 75px;
}

.expelButton{
    margin-left: 78px;
}

/* House Colors */
.Gryffindor{
    color: rgb(238,186,4);
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: white;
}

.Slytherin {
    color: rgb(42,98,61);
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: white;
}

.Hufflepuff {
    color: rgb(114,98,85);
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: white;
}

.Ravenclaw {
    color: rgb(34,47,91);
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: white;
}
